@import url(https://fonts.googleapis.com/css2?family=Forum&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap);

@font-face {
  font-family: myfont;
  src: url(Hello.ttf);
}
*{
  margin: 0;
  padding:0;

}

body{
  background-image: url(bestone.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
  width:100%;
  height:100vh;
  overflow-x: hidden;
}


.view_on_all_pages{
    width: 100%;
    height:max-content;
    background-color: #2b7879;
    text-transform: uppercase;
    position:relative;
    z-index: 1;
    top:0;
}
.view_on_all_pages .head{
    color: #feffff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    padding:10px 0 0 10px;
    justify-content: center;
    align-items: center;
}
.head h1{
  font-family: myfont;
  text-transform: lowercase;
 font-size: 6.2vh;
}
nav ul{
   /* background-color: mediumslateblue; */
   box-shadow: 3px 3px 5px #dad3d31a;
   backdrop-filter: blur(10px);
   width:100%;
   list-style: none;
   display:flex;
   justify-content: flex-end;
   align-items: center;
   position:relative;
   z-index: 2;
   height:75px;
}
nav li{
    height: 50px;
}     
nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    font-weight: 900;
    display:flex;
    flex-direction: row;
    align-items: center;
    color:#feffff;
    text-transform: uppercase;
}
nav a:hover{
     
    font-weight: bold;
    color: #17252A;
    animation-name: circle;
    animation-duration: 3s;
    animation-delay: 0.6s;
    
}
@keyframes circle {
  0%{transform: rotate3d(0,0,1,360deg);};
  50%{transform: rotate3d(0,0,1,360deg);};
  100%{transform: rotate3d(0,0,1,360deg);};
}
nav li:first-child{
    margin-right: auto;
    font-family: myfont;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-transform: lowercase;
    color: #ffff;
    font-size:45px;
}
.sidebar{
  position:fixed;
  top: 0;
  right:0;
  width:250px;
  height: 100vh;
  display: none;
  background-color: #2b7879;
  backdrop-filter: blur(25px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.sidebar li{
  width: 100%;
  justify-content: space-evenly;
  margin: 10px ;
  padding:5px ;
}
.sidebar a{
  width:100%;
}
.sidebar li svg{
  margin-left: auto;

}
.sidebar li svg:hover{
  color: #17252a;
  transform: scale(1.2px);
  
}
.searchbar {
  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar input {
  border: none;
  outline: none;
  padding: 10px;
  border: 10px;
  border-radius: 30px;
  width: 600px;
  height: 6vh;
  margin-right: 10px;
  font-size: 16px;
}

.searchbar svg {
  position: absolute;
  cursor: pointer;
  padding-top: 5px;
  margin-top: 2px;
  right:20px;
  margin-left: 0;
} 
.text_movement q{
    font-size: 7vw;
    font-family: "Bodoni Moda SC",serif;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: nowrap;
    color: #ffff;
    quotes: none;
}

.front_page{
    width: 100%;
    height: 250px;
    justify-content: center;
    margin: 20px 0 0 20px;
    padding: 20px 20px 20px 20px;
    background-color: transparent;
    color: black;
    display: block;
}
.front_page .header{
    color:black;
    text-align: center;
    font-weight: 300;
    margin: 10px 20px 20px 10px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
}
.front_page .para{
    font-size: 16px ;
    color:black;
    margin: 10px 20px 20px 10px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
}




footer {
    position: absolute;
    bottom:0;
    left: 0;
    background-color: #2b7879;
    color: feffff;
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    font-size: 17px;
    height:fit-content;
    width: 100%;
  }
  

  .ft_logo {
    display:block;
    flex: 1; 
    min-width: 250px; 
    margin: 10px;
  }
  
  .ft_logo h1 {
    display: flex; 
    align-items: center; 
    font-family: myfont;
    font-size: 25px;
  }
  
  .address {
    flex: 1; 
    min-width: 250px;
    margin: 10px; 
    justify-content: center;
  }
  
  .address h1 {
    display: flex; 
    align-items: center;
  }
  
  .address img {
    width: 24px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  
  .social_media_links {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 250px; 
    margin: 10px; 
    display: flex; 
    justify-content: space-between; 
    margin: 5px;
    gap: 3px;
  }
  
  .social_media_links a {
    color: #feffff; 
    text-decoration: none; 
    font-size: 22px;
    margin: 5px  ;
    display: flex; 
    align-items: center;
  }
  
  .social_media_links a:hover {
    color: #feffff; 
    text-decoration: underline;
  }
  .social_media_links a svg,
.social_media_links a .fa {
    margin-right: 8px; 
}
  
  .links {
    flex: 1; 
    min-width: 250px; 
    margin: 10px;
    list-style-type: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
  }
  
  .links li {
    margin-bottom: 10px; 
  }
  
  .links a {
    color: #feffff; 
    text-decoration: none; 
  }
  
  .links a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  footer h1{
    font-size :20px;
    font-weight: bold;

  }
  @media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
}
@media(max-width: 400px){
   .sidebar{
    width:100%;
   }
}